
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

code {
    color: #636b6f;
    font-size: 100%;
    background-color: #f5f8fa;
}

button {
    margin: 3px;
}

.wrapper{
    overflow-x: hidden;
    overflow-y: scroll;
 }
 .wrapper .selection{
   border:1px solid #ccc
 }